
   /* setting your bg-color */
     body{
       background-color: black;
     }
     #your-p{
       color: white;
       text-align: center;
       /* setting your text collor and add your font text */
       /* setting  your text-align */
       font-family: ;
     }
  #your-text{
       color: white;
       text-align: center;
       /* setting your text collor and add your font text */
   /* setting  your text-align */
       font-family: ;
     }
